$cd-vert:#579c87;
$cd-jaune:#fdcb46;
$cd-couleur_note:#fcdfdb;
$cd-couleur_chic:#fff5fe;
$cd-couleur_delice:#f9f9f9;
$cd-couleur_palette: #fdfffd;
$cd-couleur_txt_note: #3c1218;
$cd-couleur_txt_chic: #c67412;
$cd-couleur_txt_delice: #102cf8;
$cd-couleur_txt_palette: #72bf56;

@mixin cadres-menus {
    height: 40rem;
    width: 40rem;
    padding-top: 15rem;
    padding-bottom:15rem;
   @media (max-width:250px){
     width:30px;
   }
    &:hover {
        opacity: 0.5;
        transform:scale(1.3);
        }
}
@keyframes points{
0% {
    transform: translate(0,15px);
}

50% {
    transform: translate(0,0);
}
 100% {
    transform: translate(0,15px);
    }
 }
 @keyframes wiggle {
        0% {
            transform: rotate(0deg);
        }

        80% {
            transform: rotate(0deg);
        }

        85% {
            transform: rotate(5deg);
        }

        95% {
            transform: rotate(-5deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
/*WIGGLE V2, mois convaincant, avec cubic-bezier(.9,.1,.05,.1) et durée 200ms
$shake-angle: 5deg;
@keyframes wiggle {
    25% {
          transform: rotate($shake-angle);
    }
    75% {
        transform: rotate(-$shake-angle);
    }
}*/

html {
    font-size: 45%;
    height: 100%;
    width: 100%;
    @media (max-width:350px){
      font-size:35%;
    }
       }

body{
    margin:0;
    padding:0;
    min-height:100%;
}
header
{
   background-color: $cd-vert;
   color: $cd-jaune;
   text-align:center;
   min-width:100%;

 & img{
     height:12rem;
     width:50rem;
     margin-bottom:2.5rem;
 }
}
.logo  {
    padding-top: 3rem;
    padding-bottom: 8rem;
    & h1{
      font-size:10rem;
    letter-spacing:-6px;
    font-family:arial, sans-serif;
    font-weight:bold;
    color:$cd-jaune;
  }
}
.menus {
    display: flex;
    justify-content: center;
    text-align: center;


    @media (max-width: 800px) {
        flex-direction: column;
    }

    & p {
        font-size: 5rem;
    }

    &__chic {
        @include cadres-menus;
        background-color: $cd-couleur_chic;
        color: $cd-couleur_txt_chic;

        & h2 {
            font-family: 'tex_gyre_pagellabold', Georgia, Arial, Helvetica, sans-serif,;
            font-size: 2.8rem;
            background: -webkit-gradient(linear, left top, right bottom, from(#e38913), to(#8f5bfe));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & p {
            color: $cd-couleur_txt_chic;
            font-family: 'tex_gyre_pagellabold', Georgia, Arial, Helvetica, sans-serif;
            font-weight:bold;
            font-size:5rem;
        }
    }

    &__palette {
        @include cadres-menus;
        background-color: $cd-couleur_palette;
        color: $cd-couleur_txt_palette;


        & h2 {
            font-family: 'Kaushan Script', 'tex_gyre_pagellabold_italic','Comic Sans MS';
            font-style: italic;
            font-size: 3.5rem;
            background: -webkit-gradient(linear, left center, right center, from($cd-couleur_txt_palette), to(#a2fa81));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & p {
            color: $cd-couleur_txt_palette;
            font-family: 'Caveat','tex_gyre_pagellabold_italic','Comic Sans MS';
            font-size:8rem;
        }
    }

    &__delice {
        @include cadres-menus;
        background-color: $cd-couleur_delice;
        color: $cd-couleur_txt_delice;

        & h2 {
            font-family: "Dancing script",'Edwardian Script ITC', Georgia,;
            background: -webkit-gradient(linear, left center, right center, from($cd-couleur_txt_delice), to(#0dbbd1));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size:4rem;
        }

        & p {
            color: #0887fb;
            font-family: 'Caveat', 'tex_gyre_pagellabold_italic','Comic Sans MS';
            font-size: 8rem;
        }
    }

    &__note {
        background-color: $cd-couleur_note;
        @include cadres-menus;
        color: $cd-couleur_txt_note;

        & h2 {
            font-family: 'Devonshire','Dancing Script','calligraffitiregular','tex_gyre_pagellaregular', 'Comic Sans MS',serif;
            margin-top: 0;
            font-size: 4rem;
            color: $cd-couleur_txt_note;
        }

        & p {
            color: $cd-couleur_txt_note;
            font-family: 'calligraffitiregular','tex_gyre_pagellaregular', 'Comic Sans MS',serif;
            font-style:italic;
            font-size:4rem;
        }

        & i {
            background: -webkit-gradient(linear, left center, right center, from(#b50747), to(#e27e07));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & a {
        text-decoration: none;
    }

    & .cadre{
        height:40rem;
        width:40rem;
        overflow:hidden;
        margin:5rem;
        box-shadow: 1px 1px 19px 2px #a69fa6;
        border-radius: 0.5rem;
        padding-bottom:15rem;
        @media (max-width: 800px){
        margin-right: auto;
        margin-left:auto;
        margin-top:5rem;
        margin-bottom:5rem;
        }
        @media (max-width: 250px){
          width:30px;
        }

      }
}

#prochainement {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;

}

$anim-delai:0.5s;
.futur {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 30rem;
    background-color: $cd-vert;
    color: $cd-jaune;
    font-size: 3rem;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display:flex;

  & .ball {

   display:flex;
   @for $i from 1 through 3{
  & .ball--#{$i} {
  animation: points 2s ease-in-out infinite;
  animation-delay:$anim-delai*$i;
  background-color:$cd-jaune;
  margin:1rem;
  width: 10px;
  height: 10px;
  border-radius:50px;
}
}
}
}

footer{

position: fixed;
bottom: 0px;
width: 100%;
}

footer, footer a {
    display: flex;
    background-color: $cd-vert;
    color: $cd-jaune;
    font-size: 2.5rem;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;

    & #Mentions, #Contact {
        &:hover {
          animation: wiggle 0.5s ease-in-out 3;

                  /*nom animation durée (délai) type courbe nbe de répet*/
    }
  }
}

#infos-legales {
    font-size: 2rem;
    margin-bottom:15rem;

    & p {
        margin-left: 6rem;
    }

    & li {
        list-style-type: none;
    }

    & h2 {
        color: $cd-vert;
        font-size: 3rem;
        margin-left:3rem;
    }

}


h2 {
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0;
    font-family: rubik, sans-serif;
    color:#302f2f;
    @media (max-width: 480px) {
          font-size: 4rem;
    }
}

  .menu-grand{
     text-align:center;
     margin:6rem;
 }


@font-face {
    font-family: 'calligraffitiregular';
    src: url('Calligraffiti-webfont.eot');
    src: url('Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'), url('Calligraffiti-webfont.woff2') format('woff2'), url('Calligraffiti-webfont.woff') format('woff'), url('Calligraffiti-webfont.ttf') format('truetype'), url('Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tex_gyre_pagellabold';
    src: url('texgyrepagella-bold-webfont.eot');
    src: url('texgyrepagella-bold-webfont.eot?#iefix') format('embedded-opentype'), url('texgyrepagella-bold-webfont.woff2') format('woff2'), url('texgyrepagella-bold-webfont.woff') format('woff'), url('texgyrepagella-bold-webfont.ttf') format('truetype'), url('texgyrepagella-bold-webfont.svg#tex_gyre_pagellabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tex_gyre_pagellaitalic';
    src: url('texgyrepagella-italic-webfont.eot');
    src: url('texgyrepagella-italic-webfont.eot?#iefix') format('embedded-opentype'), url('texgyrepagella-italic-webfont.woff2') format('woff2'), url('texgyrepagella-italic-webfont.woff') format('woff'), url('texgyrepagella-italic-webfont.ttf') format('truetype'), url('texgyrepagella-italic-webfont.svg#tex_gyre_pagellaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tex_gyre_pagellaregular';
    src: url('texgyrepagella-regular-webfont.eot');
    src: url('texgyrepagella-regular-webfont.eot?#iefix') format('embedded-opentype'), url('texgyrepagella-regular-webfont.woff2') format('woff2'), url('texgyrepagella-regular-webfont.woff') format('woff'), url('texgyrepagella-regular-webfont.ttf') format('truetype'), url('texgyrepagella-regular-webfont.svg#tex_gyre_pagellaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
