
$cd-vert:#579c87;
$cd-jaune:#fdcb46;
$cd-couleur_note:#fcdfdb;
$cd-couleur_chic:#fff5fe;
$cd-couleur_delice:#f9f9f9;
$cd-couleur_palette: #fdfffd;
$cd-couleur_txt_note: #3c1218;
$cd-couleur_txt_chic: #c67412;
$cd-couleur_txt_delice: #102cf8;
$cd-couleur_txt_palette:#72bf56;

.menu-chic {
    background-color: $cd-couleur_chic;
    text-align: center;
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: 4rem;
    margin-bottom: 20rem;
    padding-bottom: 15rem;


    & h1 {
        font-size: 8rem;
        background: -webkit-gradient(linear, left top, right bottom, from(#e38913), to(#8f5bfe));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 0;
        padding-top: 10rem;
        padding-bottom: 6rem;
        font-family: Katibeh, 'tex_gyre_pagellabold', Georgia, Arial, Helvetica, sans-serif,;
    }


    & h2 {
        font-size: 3.2rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }


    & p {
        font-size: 2.2rem;
    }

    & .entrees {
        color: $cd-couleur_txt_chic;

        & img {
            margin-left: 2rem;
            margin-right: 2rem
        }
    }


& .plats {
    color: #a56799;

    & img {
        margin-left: 5.3rem;
        margin-right: 5.3rem
    }
}
    

    & .desserts {
        color: #6e4ccc;

        & img {
            margin-left: 4rem;
            margin-right: 4rem
        }
    }

    & .nom-prix {
        display: flex;
        justify-content: space-between;
        margin-left: 20rem;
        margin-right: 20rem;
    }

    & .nom-desserts {
        margin-left: 20rem;
        text-align: left;
    }

    & img {
        height: 3rem;
        width: 40rem;
        
    }
}
