
$cd-vert:#579c87;
$cd-jaune:#fdcb46;
$cd-couleur_note:#fcdfdb;
$cd-couleur_chic:#fff5fe;
$cd-couleur_delice:#f9f9f9;
$cd-couleur_palette: #fdfffd;
$cd-couleur_txt_note: #3c1218;
$cd-couleur_txt_chic: #c67412;
$cd-couleur_txt_delice: #102cf8;
$cd-couleur_txt_palette: #72bf56;

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 0;
    font-family: rubik, sans-serif;
}
