$cd-vert:#579c87;
$cd-jaune: #fdcb46;
$cd-couleur_note: #fcdfdb;
$cd-couleur_chic: #fff5fe;
$cd-couleur_delice: #f9f9f9;
$cd-couleur_palette: #fdfffd;
$cd-couleur_txt_note: #3c1218;
$cd-couleur_txt_chic: #c67412;
$cd-couleur_txt_delice: #102cf8;
$cd-couleur_txt_palette: #72bf56;

.menu-note {
    background-color: $cd-couleur_note;
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: 4rem;
    margin-bottom: 20rem;
    padding-bottom: 5rem;
    @media (max-width: 1280px) {
        margin-right: 10rem;
        margin-left: 10rem;
        }
        @media (max-width: 480px) {
            margin-right: 0;
            margin-left: 0;
            }


    & h2 {
        font-size: 6rem;
        margin-top: 0;
        font-family: 'Devonshire','Dancing Script','calligraffitiregular','tex_gyre_pagellaregular', 'Comic Sans MS',serif;
        color: $cd-couleur_txt_note;
        text-align:center;
        @media(max-width:801){
          font-size:6rem;
        }
        @media (max-width: 480px) {
            font-size:5rem;
          }
        }


    & h3 {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
        text-align: center;
        font-family: 'Caveat','calligraffitiregular','tex_gyre_pagellaregular', 'Comic Sans MS',serif;
        color: $cd-couleur_txt_note;
        @media (max-width: 1280px) {
            font-size: 3rem;
        }
    }

    & .entrees {
      & img {
        padding-left: 10rem;
        padding-right: 10rem;
        @media (max-width: 750px) {
              padding-right: 2rem;
              padding-left: 2rem;
                    }
    }
  }

    & .plats {
      & img {
        padding-left: 9rem;
        padding-right: 9rem;
        @media (max-width: 750px) {
              padding-right: 2rem;
              padding-left: 2rem;
                    }
    }
  }

    & .desserts{
    & img {
        padding-left: 7rem;
        padding-right: 7rem;
        @media (max-width: 750px) {
              padding-right: 2rem;
              padding-left: 2rem;
                    }
    }
}
    & p {
        font-size: 2.8rem;
        font-family: 'Caveat','calligraffitiregular','tex_gyre_pagellaregular', 'Comic Sans MS',serif;
        color: $cd-couleur_txt_note;
        text-align: left;
        @media (max-width: 480px) {
            margin: 0.5rem;
            font-size: 3rem;
            }
    }

    & .nom-prix {
        display: flex;
        justify-content: space-between;
        margin-left: 12rem;
        margin-right: 13rem;
        @media (max-width: 1280px) {
            margin-right: 5rem;
            margin-left: 5rem;
        }
    }

    & .nom-desserts {
        margin-left: 12rem;
        @media (max-width: 1280px) {
            margin-left: 5rem;
        }

    }
      & img {
                  height:0.9rem;
                  width:17rem;

                  @media (max-width: 750px) {
                            height:0.6rem;
                            width:10rem;
                        }
                    @media (max-width: 480px) {
                        height:0.4rem;
                        width:7rem;
                    }
      }

 #notedouble {
 text-align:center;
 padding-top: 8rem;
}
 span{
     font-weight:bold;
 }
 i {
     background: -webkit-gradient(linear, left center, right center, from(#b50747), to(#e27e07));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
#rappelnom {
    margin-top:8rem;
    display:flex;
    justify-content:center;
    align-items: center;

    & p {
        font-family: 'Devonshire','Dancing Script','calligraffitiregular','tex_gyre_pagellaregular', 'Comic Sans MS',serif;
        font-size:3.5rem;
                      }
                      & i{
                        margin-right:1rem;
                      }
}

}
h3 span{
  position: relative;
   &:hover{
   &::after{
    transform:scaleX(1);
  }
}

&::after{
  content:"";
  background-color:$cd-couleur_txt_note;
  transition:transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}

}
