
$cd-vert:#579c87;
$cd-jaune:#fdcb46;
$cd-couleur_chic:#fff5fe;
$cd-couleur_txt_chic: #c67412;

$colours: (
orang:#c67412 ,
viole:#a56799 ,
bleute:#6e4ccc);


.menu-chic {
    background-color: $cd-couleur_chic;
    text-align: left;
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: 4rem;
    margin-bottom: 20rem;
    padding-bottom: 15rem;
    @media (max-width: 1280px) {
        margin-right: 10rem;
        margin-left: 10rem;
        }
        @media (max-width: 480px) {
            margin-right: 0;
            margin-left: 0;
            }
    & h1 {
        font-size: 8rem;
        background: -webkit-gradient(linear, left top, right bottom, from(#e38913), to(#8f5bfe));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 0;
        padding-top: 10rem;
        padding-bottom: 6rem;
        font-family: Katibeh, 'tex_gyre_pagellabold', Georgia, Arial, Helvetica, sans-serif,;
        @media(max-width:801){
          font-size:6rem;
        }
    }


    & h2 {
        font-size: 3.2rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
        text-align:center;

        @media (max-width: 1280px) {
            font-size: 2.5rem;
        }
    }

    & p {
        font-size: 2.2rem;
        @media (max-width: 480px) {
            margin: 2rem;
            font-size: 3rem;
            }
    }

    & .menu--orang {
          & img {
            margin-left: 2rem;
            margin-right: 2rem;
              }
              &  h2 span{
                  position: relative;
                   &:hover{
                   &::after{
                    transform:scaleX(1);
                  }
                }

                &::after{
                  content:"";
                  background-color:$cd-couleur_txt_chic ;
                  transition:transform 2s;
                  transform-origin: 0 0;
                  transform: scaleX(0);
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  height: 0.4rem;
                }
              }

    }


& .menu--viole {

    & img {
        margin-left: 5.3rem;
        margin-right: 5.3rem
    }
  &  h2 span{
      position: relative;
       &:hover{
       &::after{
        transform:scaleX(1);
      }
    }

    &::after{
      content:"";
      background-color:#a56799 ;
      transition:transform 2s;
      transform-origin: 0 0;
      transform: scaleX(0);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.4rem;
    }

}
}

    & .menu--bleute {
        & img {
            margin-left: 4rem;
            margin-right: 4rem
                      }
                    &  h2 span{
                        position: relative;
                         &:hover{
                         &::after{
                          transform:scaleX(1);
                        }
                      }

                      &::after{
                        content:"";
                        background-color: #6e4ccc;
                        transition:transform 2s;
                        transform-origin: 0 0;
                        transform: scaleX(0);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 0.4rem;
                      }

        }
}

    & .nom-prix {
        display: flex;
        justify-content: space-between;
        margin-left: 20rem;
        margin-right: 20rem;
        @media (max-width: 1280px) {
            margin-right: 5rem;
            margin-left: 5rem;
        }
    }

    & .nom-desserts {
        margin-left: 20rem;
        text-align: left;
        @media (max-width: 1280px) {
        margin-left: 5rem;
        }

    }

    & img {
        height: 2rem;
        width: 25rem;
        @media (max-width: 801px) {
                  height:1rem;
                  width:15rem;
              }
              @media (max-width: 480px) {
                        height:0.5rem;
                        width:7rem;
                    }
    }

    .menu--orang img, .menu--viole img, .menu--bleute img{
      @media (max-width: 801px) {
                margin-right: 0;
                margin-left: 0;
        }
    }
@each $colour, $hex in $colours {
.menu--#{$colour} {
color: $hex;
}
}

}
