$cd-couleur_txt_palette: #72bf56;

$cd-couleur_palette: #fdfffd;


.menu-palette {
    background-color: $cd-couleur_palette;
    text-align: center;
    margin-left: 35rem;
    margin-right: 35rem;
    margin-top: 4rem;
    margin-bottom: 20rem;
    padding-bottom: 15rem;


    @media (max-width: 1200px) {
        margin-right: 0;
        margin-left: 0;
    }

    & h1 {
        font-size: 7rem;
        font-family: 'Kaushan Script', 'tex_gyre_pagellabold_italic','Comic Sans MS';
        font-style: italic;
        background: -webkit-gradient(linear, left center, right center, from(#41963c), to(#beff7f));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 0;
        padding-bottom: 6rem;

        @media (max-width: 800px) {
            font-size: 5rem;
        }
    }

    & h2 {
        font-size: 3.5rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
        font-family: Caveat,'tex_gyre_pagellabold', "comic sans MS",Georgia, Arial, Helvetica, sans-serif;
        font-weight: normal;

        @media (max-width: 800px) {
            font-size: 3rem;
        }
    }


    & p {
        font-size: 2.8rem;
        font-family: Caveat,'tex_gyre_pagellabold', "comic sans MS",Georgia, Arial, Helvetica, sans-serif;

        @media (max-width: 800px) {
            font-size: 2rem;
        }
    }

    & .nom-prix {
        display: flex;
        justify-content: space-between;
        margin-left: 15rem;
        margin-right: 18rem;

        @media (max-width: 800px) {
            margin-left: 4rem;
            margin-right: 4rem;
        }
    }

    .entrees img {
        height: 1rem;
        margin-left: 9rem;
        margin-right: 9rem;

        @media (max-width: 800px) {
            width: 9rem;
            height: 0.5rem;
            margin-right: 4rem;
            margin-left: 4rem;
        }
    }

    .plats img {
        height: 1rem;
        margin-left: 7rem;
        margin-right: 7rem;

        @media (max-width: 800px) {
            width: 8rem;
            height: 0.5rem;
            margin-right: 4rem;
            margin-left: 4rem;
        }
    }

    .desserts img {
        height: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;

        @media (max-width: 800px) {
            width: 7rem;
            height: 0.5rem;
            margin-right: 4rem;
            margin-left: 4rem;
        }
    }
}
