.menu-chic {
  background-color: #fff5fe;
  text-align: left;
  margin-left: 35rem;
  margin-right: 35rem;
  margin-top: 4rem;
  margin-bottom: 20rem;
  padding-bottom: 15rem;
}
.menu-chic .menu--orang {
  color: #c67412;
}
.menu-chic .menu--viole {
  color: #a56799;
}
.menu-chic .menu--bleute {
  color: #6e4ccc;
}
@media (max-width: 1280px) {
  .menu-chic {
    margin-right: 10rem;
    margin-left: 10rem;
  }
}
@media (max-width: 480px) {
  .menu-chic {
    margin-right: 0;
    margin-left: 0;
  }
}
.menu-chic h2 {
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#e38913), to(#8f5bfe));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  padding-top: 10rem;
  padding-bottom: 6rem;
  font-family: Katibeh, "tex_gyre_pagellabold", Georgia, Arial, Helvetica, sans-serif;
}
@media (max-width: 801) {
  .menu-chic h2 {
    font-size: 6rem;
  }
}
.menu-chic h3 {
  font-size: 3.2rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;
}
@media (max-width: 1280px) {
  .menu-chic h3 {
    font-size: 2.5rem;
  }
}
.menu-chic p {
  font-size: 2.2rem;
}
@media (max-width: 480px) {
  .menu-chic p {
    margin: 2rem;
    font-size: 3rem;
  }
}
.menu-chic .menu--orang img {
  margin-left: 2rem;
  margin-right: 2rem;
}
.menu-chic .menu--orang h3 span {
  position: relative;
}
.menu-chic .menu--orang h3 span:hover::after {
  transform: scaleX(1);
}
.menu-chic .menu--orang h3 span::after {
  content: "";
  background-color: #c67412;
  transition: transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}
.menu-chic .menu--viole img {
  margin-left: 5.3rem;
  margin-right: 5.3rem;
}
.menu-chic .menu--viole h3 span {
  position: relative;
}
.menu-chic .menu--viole h3 span:hover::after {
  transform: scaleX(1);
}
.menu-chic .menu--viole h3 span::after {
  content: "";
  background-color: #a56799;
  transition: transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}
.menu-chic .menu--bleute img {
  margin-left: 4rem;
  margin-right: 4rem;
}
.menu-chic .menu--bleute h3 span {
  position: relative;
}
.menu-chic .menu--bleute h3 span:hover::after {
  transform: scaleX(1);
}
.menu-chic .menu--bleute h3 span::after {
  content: "";
  background-color: #6e4ccc;
  transition: transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}
.menu-chic .nom-prix {
  display: flex;
  justify-content: space-between;
  margin-left: 20rem;
  margin-right: 20rem;
}
@media (max-width: 1280px) {
  .menu-chic .nom-prix {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
.menu-chic .nom-desserts {
  margin-left: 20rem;
  text-align: left;
}
@media (max-width: 1280px) {
  .menu-chic .nom-desserts {
    margin-left: 5rem;
  }
}
.menu-chic img {
  height: 2rem;
  width: 25rem;
}
@media (max-width: 801px) {
  .menu-chic img {
    height: 1rem;
    width: 15rem;
  }
}
@media (max-width: 550px) {
  .menu-chic img {
    height: 0.5rem;
    width: 7rem;
  }
}
@media (max-width: 801px) {
  .menu-chic .menu--orang img, .menu-chic .menu--viole img, .menu-chic .menu--bleute img {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 250px) {
  .menu-chic .menu--orang img, .menu-chic .menu--viole img, .menu-chic .menu--bleute img {
    display: none;
  }
}

/*# sourceMappingURL=style_chic.css.map */
