.menu-delice {
  background-color: #f9f9f9;
  text-align: center;
  margin-left: 35rem;
  margin-right: 35rem;
  margin-top: 4rem;
  margin-bottom: 20rem;
  padding-bottom: 15rem;
}
@media (max-width: 1280px) {
  .menu-delice {
    margin-right: 10rem;
    margin-left: 10rem;
  }
}
@media (max-width: 480px) {
  .menu-delice {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.menu-delice h2 {
  font-family: "Dancing script", "Edwardian Script ITC", Georgia;
  font-style: italic;
  background: -webkit-gradient(linear, left center, right center, from(#102cf8), to(#0dbbd1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  padding-top: 10rem;
  padding-bottom: 3rem;
  font-size: 8rem;
}
@media (max-width: 801) {
  .menu-delice h2 {
    font-size: 6rem;
  }
}
@media (max-width: 600px) {
  .menu-delice h2 {
    font-size: 5rem;
  }
}
.menu-delice h3 {
  font-size: 4rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-family: Caveat, "tex_gyre_pagellabold", "comic sans MS", Georgia, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
@media (max-width: 1280px) {
  .menu-delice h3 {
    font-size: 2.5rem;
  }
}
.menu-delice .entrees h3 span {
  position: relative;
}
.menu-delice .entrees h3 span:hover::after {
  transform: scaleX(1);
}
.menu-delice .entrees h3 span::after {
  content: "";
  background-color: #102cf8;
  transition: transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}
.menu-delice .entrees img {
  padding-right: 5rem;
  padding-left: 5rem;
}
.menu-delice .plats h3 span {
  position: relative;
}
.menu-delice .plats h3 span:hover::after {
  transform: scaleX(1);
}
.menu-delice .plats h3 span::after {
  content: "";
  background-color: #0670f3;
  transition: transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}
.menu-delice .desserts h3 span {
  position: relative;
}
.menu-delice .desserts h3 span:hover::after {
  transform: scaleX(1);
}
.menu-delice .desserts h3 span::after {
  content: "";
  background-color: #229df9;
  transition: transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}
.menu-delice .plats img, .menu-delice .desserts img {
  padding-right: 6rem;
  padding-left: 6rem;
}
.menu-delice p {
  font-size: 2.75rem;
  font-family: Caveat, "tex_gyre_pagellabold", "comic sans MS", Georgia, Arial, Helvetica, sans-serif;
  text-align: left;
}
@media (max-width: 480px) {
  .menu-delice p {
    margin: 1rem;
  }
}
.menu-delice .nom-prix {
  display: flex;
  justify-content: space-between;
  margin-left: 20rem;
  margin-right: 20rem;
}
@media (max-width: 1280px) {
  .menu-delice .nom-prix {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
.menu-delice .nom-desserts {
  margin-left: 20rem;
  text-align: left;
}
@media (max-width: 801px) {
  .menu-delice img {
    height: 0.9rem;
    width: 13rem;
  }
}
@media (max-width: 520px) {
  .menu-delice img {
    height: 0.4rem;
    width: 7rem;
  }
}
@media (max-width: 680px) {
  .menu-delice .entrees img, .menu-delice .plats img, .menu-delice .desserts img {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 230px) {
  .menu-delice .entrees img, .menu-delice .plats img, .menu-delice .desserts img {
    display: none;
  }
}

h3 span {
  position: relative;
}
h3 span:hover::after {
  transform: scaleX(1);
}
h3 span::after {
  content: "";
  background-color: #102cf8;
  transition: transform 2s;
  transform-origin: 0 0;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
}

/*# sourceMappingURL=style_delice.css.map */
